body {
    margin: 0;
    background-color:#1F2937;
    font-family: 'Karla', sans-serif;
    max-width: 600px;
}

.hero-container{
    display:flex;
    flex-direction: column;
    margin: 30px 50px; 
    

}

h4{
    color: #ECFDF5;
    margin-top:0px;
    margin-bottom: 15px;
    
}

.page-title{
    color:#FFFFFF;
    font-weight: 900;
    margin-bottom: 10px;
}

.highlight-green{
    color: #4ADF86;
}

#generate-btn{
    margin: 30px 0px;
    background-color:#10B981;
    color: #ECFDF5;
    padding: 10px 0px;
    border-style: none;
    border-radius: 5px;
    width: 250px;
    font-size: 20px;
   
}

.password-container{
    margin: 15px 45px;
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    border-top: 1px solid #2F3E53;

}

#password-one-el
{
    background-color:#273549;
    margin: 40px 10px;
    color: #55F991;
    padding: 13px 40px;
    border-radius: 5px;
    font-weight:bolder;
    width: 150px;
    height: 20px;
    text-align:center;
    
}

#password-two-el
{
    margin: 40px 10px;
    background-color:#273549;
    padding: 13px 40px;
    font-weight:bolder;
    border-radius: 5px;
    color: #55F991;
    width: 150px;
    height: 20px;
    text-align:center;
   
}

/* The switch - the box around the slider */
.switch{
    position: relative;
    display:inline-block;
    width: 60px;
    height: 34px; 
}

/* Hide default HTML checkbox */
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.symbol-container{
    margin-bottom: 10px;
    margin-top: 10px; 
}

.number-text
{
    color:#FFFFFF;
    margin: 10px 80px;
    
}

.special-char-text{
    color:#FFFFFF;
    margin: 10px 80px;
    text-wrap: nowrap;
   
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color:  #55F991;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #55F991;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }